  <% idx = 0 %>
  <% @stats.keys.each do |key| %>
  <% idx += 1 %>
  <div class="row">
    <div class="col-sm-3">
      <% label = "success" %>
      <% label_text = "OK" %>
      <% label = "warning" if @stats[key].last['state'] != 0 %>
      <% label_text = "NOT OK" if @stats[key].last['state'] != 0 %>
      <h1><%= @stats[key].last['value'] %></h1>
      <h5><span class="label label-<%= label %>"><%= label_text %></span> <%= key %></h5>
    </div>
    <div class="col-sm-4">
      <div id="chart_<%= idx %>"></div>
    </div>
  </div>
  <% end %>

  <script>
  google.load('visualization', '1', {packages: ['corechart', 'line', 'timeline']});
  google.setOnLoadCallback(drawCharts);

  function drawCharts() {
  <% idx = 0 %>
  <% @stats.keys.each do |key| %>
    <% idx += 1 %>
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'X');
    data.addColumn('number', '');

    data.addRows([
      <% @stats[key].each do |stat| %>
      <% value = stat['value'] %>
      <% value = '0' if !stat['value'] %>
      <% time = Time.at(stat['time']) %>
      [new Date(<%= time.year %>,<%= time.month - 1 %>,<%= time.day %>,<%= time.hour %>,<%= time.min %>),<%= value.gsub('ms', '').gsub('s', '') %>],
      <% end %>
    ]);

    var options = {
      height: 150,
      backgroundColor: '#fff',
      legend: {
        position: 'none'
      },
      colors: ['#777'],
      timeline: {
        groupByRowLabel: true
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById("chart_<%= idx %>"));
    chart.draw(data, options);
  <% end %>
  }
  </script>
