<!DOCTYPE html>
<html>
<head>
  <title>GitLab.com Status</title>

  <%# UTF-8 Character Set %>
  <meta charset="utf-8">

  <%# Viewport meta tag %>
  <meta name="viewport" content="width=device-width">

  <%# Favicon %>
  <link rel="shortcut icon" href="/favicon.ico" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://www.google.com/jsapi' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <h2 class="text-muted">GitLab.com Status</h2>
    </div>

    <div class="tweeter-feed">
      <a class="twitter-timeline" href="https://twitter.com/gitlabstatus" data-widget-id="293671753740324864">Tweets by @gitlabstatus</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <div>
      <%= yield %>
    </div>

    <br/>

    <footer class="footer">
      <p>&copy; GitLab Inc. <%= Time.now.year %></p>
    </footer>
  </div>
</body>
</html>
